
<body>
   <div class="container">
      <div class="text">
         <h1 class="title">Welcome</h1>
         <h5 class="subtitle">this is my try to acheive the event managment interface , so feel free to start now and see how my interface works </h5>
         
         <div>
            <a routerLink="/list">
            <button class="button-51 " role="button"> Start now </button>
            </a>
         </div>
      </div>
      
      <div class="img">
         <img class="im&ge" src="../assets/images/manage-img.jpeg" />
      </div>
   </div>
      
</body>
